*{
    margin: 0;
padding: 0;

}
.form_container{
    width: 30%;
    border-radius:8%;
box-shadow: 0 8px 32px 0  rgb(127, 122, 109, 0.37);
border:1px solid  rgb(127, 122, 109, 0.18);;
background: rgba(252, 252, 252, 0.18);
backdrop-filter: blur(30px);
}

.for_details{
border: none;
border-bottom: 1px solid #ccb012;
padding-top: 10px;
outline: none;
height: 40px;
font-size: 14.5px;
}

.imagen-fondo{
    width: 100%;
    height: 100vh;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signup{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

}
.texto-titulo{
    color: rgb(255, 189, 24);
}

.btn-bg{
    background-color: #E5890A;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 2px #a8680e;
    padding: 5.5px;
}

.link_color{
font-weight: bold;
color: rgb(255, 189, 24);
outline: none;
    font-size: 0.8em;
}



@media screen and (max-width:1000px){
    .form_container{
        width: 45%;
    }
    
}
@media screen and (max-width:700px){
    .form_container{
        width: 65%;
    }
    
}